.wrapper {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr repeat(auto-fit, 1fr);
	grid-template-areas:
		"sidebar"
		"content"
		"reach"
		"social"
		"footer";

	background: url(../img/bg.jpg) no-repeat bottom center scroll;
	background-color: #444;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100vh;
	text-align: center;
	padding: 42px;
}

@media (min-width: 1024px) {
	.wrapper {
		padding: 64px;
		grid-template-columns: 3fr 4fr;
		grid-template-rows: repeat(auto-fit, 3fr);
		grid-template-areas:
			"sidebar content"
			"sidebar reach"
			"sidebar social"
			"footer footer";
	}
}
/* ------------------------------ */
.sidebar {
	grid-area: sidebar;
}

.sidebar-header {
	font-size: 30px;
}
/* ------------------------------ */
.content {
	grid-area: content;
	position: relative;
	align-self: center;
	text-align: center;
}

.content-about-me {
	text-align: justify;
	font-size: 18px;
	padding: 0 20px;
}
.content-about-me .emph {
	color: #42dca3;
}

/* ------------------------------ */
.reach {
	grid-area: reach;
	text-align: center;
}

/* ------------------------------ */

.social {
	grid-area: social;
}
/* ------------------------------ */
.footer {
	grid-area: footer;
	text-align: center;
	align-self: top;
	padding: 50px 0;
}

.footer p {
	margin: 0;
	font-size: 10px;
}
::-moz-selection {
	text-shadow: none;
	background: #fcfcfc;
	background: rgba(255, 255, 255, 0.2);
}
::selection {
	text-shadow: none;
	background: #fcfcfc;
	background: rgba(255, 255, 255, 0.2);
}
/* ------------------------------ */
