.wrapper {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr 1fr 1fr;
	grid-template-areas:
		"content"
		"social"
		"footer";

	background: url(../img/bg.webp), url(../img/bg.jpg) no-repeat bottom center scroll;
	background-color: #444;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100vh;
	text-align: center;
	padding: 12px;
	justify-content: center;
}

@media (min-width: 500px) {
	.wrapper {
		padding: 42px;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		padding: 64px;
		grid-template-columns: 1fr;
		grid-template-rows: 4fr 1fr 1fr;
		grid-template-areas:
			"content"
			"social"
			"footer";
	}
}

/* ------------------------------ */

.content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.content-header {
	font-size: 24px;
}

.content-about-me {
	text-align: justify;
	max-width: unset;
	font-size: 18px;
	padding: 0 20px;
}

@media (min-width: 500px) {
	.content-header {
		font-size: 30px;
	}
}

@media (min-width: 1024px) {
	.content-about-me {
		max-width: 75%;
	}
}

.content-about-me .emph {
	color: #42dca3;
}

/* ------------------------------ */
.reach {
	grid-area: reach;
	text-align: center;
}

/* ------------------------------ */

.social {
	display: flex;
	justify-content: center;
	grid-area: social;
	align-self: center;
}
/* ------------------------------ */
.footer {
	grid-area: footer;
	text-align: center;
	align-self: center;
	padding: 50px 0;
}

.footer p {
	margin: 0;
	font-size: 10px;
}
::-moz-selection {
	text-shadow: none;
	background: #fcfcfc;
	background: rgba(255, 255, 255, 0.2);
}
::selection {
	text-shadow: none;
	background: #fcfcfc;
	background: rgba(255, 255, 255, 0.2);
}
/* ------------------------------ */
