:root {
    --color-white: #ffffff;
    --color-black: rgb(0, 0, 0);
    --color-background: rgb(20, 33, 61); /* #14213d */
    --color-accent: #fca311;
    --color-accent-hover: #d08203;
    --color-gray: #e5e5e5;
    --bg-img: url(../img/bg.webp), url(../img/bg.jpg);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.42857143;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-background);
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(20, 33, 61, 0.8)),
        var(--bg-img);
}

b,
strong {
    font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 35px 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: var(--color-accent);
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}
a:focus,
a:hover {
    color: var(--color-accent-hover);
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent-hover);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3em;

    width: 100vw;
    height: 100vh;
    color: white;
}

@media (min-width: 500px) {
    .wrapper {
        padding: 4em;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 5em;
    }
}

/* ------------------------------ */

.content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.content-header {
    font-size: 2em;
}

.content-about-me {
    text-align: justify;
    max-width: unset;
}

.content-about-me .emph {
    color: var(--color-accent);
}

/* ------------------------------ */

.social {
}

.social--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
}

.icon {
    width: 4em;
    height: 4em;
}

.social--list > li {
    display: inline-flex;
    padding: 1em 2em;
}

.social--list > li svg {
    fill: var(--color-accent);
    width: 2em;
    height: 2em;
    transform: scale(2);
}

@media (min-width: 500px) {
    .social--list {
        flex-direction: row;
    }
    .social--list > li {
        padding: 0 2em;
    }
}

/* no text underline on link hover */
.social--list li > a:after {
    display: none;
}

/* ------------------------------ */
.footer {
    text-align: center;
    padding: 3em 0;
}

.footer p {
    margin: 0;
    font-size: 0.75em;
}
