:root {
    --color-white: #ffffff;
    --color-black: rgb(0, 0, 0);
    --color-background: rgb(20, 33, 61); /* #14213d */
    --color-accent: #fca311;
    --color-accent-hover: #d08203;
    --color-gray: #e5e5e5;
    --bg-img: url(../img/bg.webp), url(../img/bg.jpg);
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 1.42857143;
    color: var(--color-white);
    background-color: var(--color-background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

b,
strong {
    font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 35px 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: var(--color-accent);
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}
a:focus,
a:hover {
    color: var(--color-accent-hover);
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent-hover);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div.social > ul > li > a:after {
    display: none;
}

ul {
    margin-bottom: 10px;
}

.fa-fw {
    font-size: 45px;
}

/* ------------------ */
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

ul.banner-social-buttons {
    margin-top: 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

.wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr;
    grid-template-areas:
        "content"
        "social"
        "footer";

    text-align: center;
    padding: 12px;
    justify-content: center;

    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(20, 33, 61, 0.8)),
        var(--bg-img);
    width: 100%;
    height: 100%;
    color: white;
}

@media (min-width: 500px) {
    .wrapper {
        padding: 42px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 64px;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr 1fr;
        grid-template-areas:
            "content"
            "social"
            "footer";
    }
}

/* ------------------------------ */

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    max-width: 900px;
    padding: 3em;
}

.content-header {
    font-size: 24px;
}

.content-about-me {
    text-align: justify;
    max-width: unset;
    font-size: 1em;
    padding: 0 20px;
}

@media (min-width: 500px) {
    .content-header {
        font-size: 2em;
    }
}

.content-about-me .emph {
    color: var(--color-accent);
}

/* ------------------------------ */

}

.content-about-me .emph {
    color: var(--color-accent);
}

/* ------------------------------ */
.reach {
    grid-area: reach;
    text-align: center;
}

/* ------------------------------ */

.social {
    display: flex;
    justify-content: center;
    grid-area: social;
    align-self: center;
}
/* ------------------------------ */
.footer {
    grid-area: footer;
    text-align: center;
    align-self: center;
    padding: 50px 0;
}

.footer p {
    margin: 0;
    font-size: 10px;
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
/* ------------------------------ */
