.wrapper {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr repeat(auto-fit, 1fr);
	grid-template-areas:
		"sidebar"
		"content"
		"reach"
		"social"
		"footer";

	background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
	background-color: #444;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100vh;
	text-align: center;
}

@media (min-width: 1024px) {
	.wrapper {
		padding: 42px;
		grid-template-columns: 3fr 4fr;
		grid-template-rows: repeat(auto-fit, 3fr);
		grid-template-areas:
			"sidebar content"
			"sidebar reach"
			"sidebar social"
			"footer footer";
	}
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
	position: relative;
	align-self: center;
	text-align: center;
}

.reach {
	grid-area: reach;
	text-align: center;
}

.social {
	grid-area: social;
}

.footer {
	grid-area: footer;
  text-align: center;
  align-self: top;
}

/* ---------- */
img {
  width: 70%;
  height: auto;
  max-width: 40%;
	border-radius: 50%;
}

img {
	padding: 15px;
}
img::selection {
	background: 0 0;
}
img::-moz-selection {
	background: 0 0;
}
